@font-face{
    font-family: 'Segoe UI Regular';
    src: url('../assests/fonts/Segoe\ UI.woff') format('woff');
    }
@font-face{
        font-family: 'Segoe UI Bold';
        src: url('../assests/fonts/Segoe\ UI\ Bold.woff') format('woff');
    }


.container{
    min-width: 320px;
    font-family: 'Segoe UI Regular';
    
    
}
/*Header */
.header-container{
    background-color: #151515;
    transition: all 0.5s;
  
    
}
.Header{
    background-color: #151515;
    max-width: 1024px;
    align-self: auto;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    min-height: 100px;
    color:white;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}
.selectStyle{
    background-color: #0073B6;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.mobile-menu-hide{
    display: none;
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    z-index: -5;
    margin: 0 auto;
    background-color: #151515;
 
   
}

.logo{
    display: flex;
    align-items: center;
  
}
.logo img{
    width: 65%;
}
.logo-lang{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logo h1{
    margin-top: 13px;
}


.nav-link{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}
.nav-bar h1{
    padding-left: 20px;
}
.mobile-menu{
    background-image: url('../assests/images/header/menu.svg') ;
  
    display: none;
}

.nav-bar{
   float: right;
   display: flex;
  
}


.svg-container{
    background-color: #0073B6;
    
}
.nav-bar div{
    display: flex;
    align-items: center;
    height: 40px;
}

.english-button{
    background: url('../assests/images/header/english.svg') no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.swedish-button{
    background: url('../assests/images/header/swedish.svg') no-repeat;
    background-position: cover;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
#check{
    display: none;
}
.myBox{
    margin-top: 20px;
}

@media(max-width: 768px){  
    .rotate{
        display: none;
    }
    .top-section{
        padding-left: 3%;
    }
    .mobile-menu-hide{
        display: block;
    }
    .selectStyle{
        background-color: #151515;
    }
    .logo{
        padding-left: 5px;
    }
    .english-button{
        box-sizing: border-box;
        margin-left: 0px;
        border: 3px solid #151515;
        border-radius: 50px;
    }
    .swedish-button{
        box-sizing: border-box;
        margin-left: 0px;
        border: 3px solid #151515;
        border-radius: 50px;
    }
    .tel-no{
        display: none;
    }
    .nav-bar{
        background-color: #0073B6;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 20pt;
        top: -155px;
        transition: all 0.5s;
        z-index: -9;
      
    }
    .mobile-menu{
        display: block;
        height: 20px;
        width: 30px;
        margin-right: 15px;
    }
    .Header{
        position: fixed;
        width: 100%;
    }
    .header-container{
        background-color: #151515;
        height: 100px;
    }

    #check:checked~ .nav-bar{
    margin-top: 250px;
       display: flex; 
    }
    #check:checked~ .mobile-menu{
        background-image: url('../assests/images/header/close.svg');
        width: 20px;
        height: 20px;
        margin-right: 20px;
  
    }
    }
    @media(max-width:500px){
       
        .logo img{
            width: 50%;
        }
        
        .logo h1{
            margin-top: 6px;
          
        }
    }



/*Homepage*/
.top-section-container{
    background-color: #151515;
    height: 700px;

}
.top-section{
    max-width: 1024px;
    display: flex;
    margin: 0 auto ;
    padding-top: 50px;
    
}

.hero-box{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
    .best{
        font-size: 3vw;
        font-family: 'Segoe UI Regular';
     
    }
    .security{
        font-size: 6vw;
        font-family: 'Segoe UI Bold';
        font-weight: bold;
    }
    .services{
        font-size: 6vw;
        font-weight:100;
        font-family: 'Segoe UI';
    }
    .rotate{
        margin-top:105px;
        position: absolute;
        right: 26px;
    }
    .rotate h1{
        transform: rotate(90deg);
        font-size: 20px;
        transform-origin: 100% 100%;
        background-color: #0073B6;
        padding: 1px 10px 3px 10px;
        
    }

    .my-button{
        background-color: #0073B6;
        color: white;
        cursor: pointer;
        border: none;
        width: 190px;
        max-width: 190px;
        margin-top: 10px;
        height: 51px;
        font-size: 22px;
        outline:none;
        border-radius: 13px;
        box-shadow: inset 0 0 0 0  #28b463 ;
        transition: ease-out 0.3s;
    
    }
    input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

    .my-button:hover{
        box-shadow: inset 300px 0 0 0  #28b463;
    }
    
    .top-section-bottom{
        max-width: 1024px;
        color: white;
        display: flex;
        justify-content: space-between;
        margin: 100px auto 0 auto;
        padding-left: 10%;
        padding-right: 10%;
    }
    .laptop-image img{
        max-width: 100%;
    }
   /*.content{
      padding: 3%;
      box-sizing: border-box;
        
    }*/

    /* about us */
    .about-us{
        padding: 120px 0;
    }
    .about-us div{
        max-width:550px;
        background-color:#0073B6;
    }
   
    .about-us h1{
        font-size: 30px;
        width: 120px;
        margin-right: 30px ;
        margin-left: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .about-us p{
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 40px;
        font-size: 20px;
    }
   
    /*reviews*/
    .reviews-container{
        background-color: #151515;
        

    }
    .review-card{
        min-height: 240px;
        max-width:330px;
        border-radius: 25px;
        background-color: white;
        padding: 40px 20px;
        box-sizing:border-box 
    }
    .review-text{
        line-height:  15pt;
        padding: 10px 10px;
        box-sizing:border-box ;
    }
    .user{
        display: flex;
        align-items: center;
    }
    .user h1{
        font-size: 19px;
        font-weight: bold;
        color: #0073B6;
        padding-left: 10px;
    }
    .user img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .reviews{
        max-width: 1024px;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }
    /*home-page-tablet*/
    @media(max-width: 768px){
       
        .laptop-image{
            min-height: 474px;
        }
        .content{
            margin-top: -70vh;
            margin-left: 10%;
            background-color: #151515c4;
            
            padding: 10%;
           
        }
        .best{
            font-size: 5vh;
        }
        .security{
            font-size: 10vh;
        }
        .services{
            font-size: 10vh;
        }
        
        .top-section{
            flex-direction: column;
        }
        .hero-box{
        
            padding-top: 40px;
            padding-right: 20px;
            padding-bottom: 40px;
            
        }
        .about-us p{
            padding-left: 10%;
            padding-right: 10%;
        }
        .reviews{
            flex-direction: column;
            
        }
        .reviews-container{
            display: flex;
        }
        .review-card{
            margin-bottom: 10px;
        }
        .top-section-bottom{
            margin-bottom: 30px;
            margin-top: -50px;
            background-color: #0073B6;
            min-height: 20px;
            padding: 5px;
        }
    
        #check:checked~ .top-section-container{
            margin-top: 200px;
            }
       }
       @media(max-width: 480px){
           .top-section-container{
               height: 140vw;
           }
           .top-section-bottom{
               display: none;
           }
           .content{
            margin-left: 0%;
            margin-top: -100vh;
           }
           .best{
               font-size: 3.5vh;
           }
           .security{
               font-size: 7vh;
           }
           .services{
               font-size: 7vh;
           }
           .my-button{
               width: 130px;
               font-size: 20px;
           }
       }
    /*Footer */
    .footer-container{
        background-color: #0073B6;
        padding-top: 35px;
        padding-bottom: 35px;
      
    }
    .footer{
        max-width: 1024px;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: space-between;
        font-size: 1.2vw;
    }

    .links{
        display: flex;
        justify-content: space-between;
    }
    .links div{
        margin-right: 30%;
        min-width: 30%;
    }

    .links h1{
        font-weight: bolder;
        font-size: 1.3vw;
        margin-bottom: 10px;
    }
    .links h2{
        padding-bottom: 5px;
    }

    .social-media{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .social-media div{
        margin-left: 10px;
    }
    .insta{
        width: 45px;
        height: 45px;
        background-image: url('../assests/images/social/insta1.svg')  ;
    }
    .twitter{
        width: 49px;
        height: 40px;
        background-image: url('../assests/images/social/twitter1.svg') ;
    }
   .fb{
    width: 21px;
    height: 40px;
    background-image: url('../assests/images/social/fb1.svg') ;
   }
    .site{
        margin-top: 50%;
    }
    /*footer-tablet*/
    @media(max-width: 768px){
        .footer-container{
            padding-left: 2%;
            padding-right: 2%;
            box-sizing: border-box;
        }
        .footer{
            font-size: 3.5vw;
            flex-direction: column;
        }
        .links h1{
            font-size: 4vw;
        }
        .links div{
            margin-right: 0%;
        }
        .social-media{
            margin: 0 auto;
            width: 100%;
            margin-top: 40px;
          
        }
        .social-media-and-site{
            margin:0 auto;
            width: 100%;
            padding-left: 170px;
            padding-right: 170px;
            box-sizing: border-box;
        }
        .social-media div{
            margin-left: 0px;
        }
        .site{
           
            margin: 0 auto;
            margin-top: 40px;
            text-align: center;
           
        }
    
        
    }
/*footer-mobile*/
    @media(max-width: 500px){
        .social-media-and-site{
            margin:0 auto;
            width: 100%;
            padding-left: 90px;
            padding-right: 90px;
            box-sizing: border-box;
        }
       
    }
    /*slide */
    .slider{
        width: 800px;
        height: 500px;
        background-color: lawngreen;
        padding: 30px;
        
    }
    .slides{
        width: 800px;
        height: 500px;
        display: flex;
        overflow: hidden;
    }
    .slides img{
        width: 800px;
        height: 200px;
        background-size: cover;
        
    }
    .slide{
        width: 800px;
        transition: 1s;
    }
    .slides input{
        display: none;
    }
    .nav-manual{
        display: flex;
        justify-content: center;
        margin-top: -40px;
    }
    .manual-btn{
        border: 2px solid salmon;
        color: yellow;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:last-child){
        margin-right:  30px;
    }
    .manual-btn:hover{
        background-color: cadetblue;
    }

    #radio1:checked ~ .first{
        margin-left: 0px;
    }
    #radio2:checked ~ .first{
        margin-left: -800px;
    }
    #radio3:checked ~ .first{
        margin-left: -1600px;
    }
    #radio4:checked ~.first{
        margin-left: -2400px;
    }
    #radio1:checked ~ .manual-btn{
        background: yello
    }
   .manual-btn1{
    width: 100px;
    height: 100px;
    border: 3px solid red;
    border-radius: 50%;
   }
   .manual-btn1:hover{
       background: tomato;
   }
/*
.nav-auto{
    position:absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  
}

.nav-auto div{
    border: 2px solid #0073B6;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    
}

.nav-auto div:not(:last-child){
    margin-right:  30px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background:#0073B6;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background: #0073B6; 
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background: #0073B6;
}
#radio4:checked ~ .nav-auto .auto-btn4{
    background: #0073B6;
}
*/
/* common heading*/
.heading-container{
    background-color: #151515;
}
.heading{
    color: white;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.heading h1{
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 10px;
}

.heading p{
    font-size: 20px;
}
.title-dec{
    font-size: 2rem;
}
.img-file img{
    width: 100px;
    height: 100px;
}
@media(max-width: 768px){
    .heading{
        padding-left: 2%;
        padding-right: 2%;
        box-sizing: border-box;
    }
    
}
/*Features */
.features{
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10%;
    padding-bottom: 5%;
    background-color: #151515;
}

.feature-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;

}
.feature{
    max-width: 1024px;
    margin: 0 auto;
    min-height: 250px;
   align-items: center;
   
}
.image-after{
    display: flex;
    justify-content: space-between;
}

.image-normal{
    display: flex;
    flex-direction: row-reverse;

}
.feature-info{
    min-height: 160px;
    max-width: 100%;
    background-color: #0073B6;
    padding-top: 3%;
    padding-bottom: 3%;
}
.one{
    padding-right: 20%;
    padding-left: 10%;
}
.two{
    padding-left: 20%;
    padding-right: 10%;
}
.feature-info h1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}
.feature-info p{
    padding-bottom: 3%;
    line-height: 15pt;
}
.feature-img{
    background-color: white;
    border: 4px solid #0073B6;
    box-shadow: 0px 0px 50px #222222;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image-first{
    
    flex-direction: row reverse;
}
@media(max-width: 600px){
    .features{
        padding-top: 5%;
        padding-bottom: 0%;
    }
    .feature-container{
        flex-direction:column;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .feature{
        flex-direction: column-reverse;
        margin-bottom: 5%;
        background-color: #0073B6;
        box-sizing: border-box;
        border-radius: 2px;
        
    }
    .f-mobile{
        flex-direction: column-reverse;
    }
    .one{
        padding-right: 0px;
    }
    .two{
        padding-left: 0px;
    }
    .feature-info{
        padding: 2%;
    }
    .feature-img{
        border: 8px solid #0073B6;
        box-sizing: border-box;
        box-shadow: 0px 0px;
    }
}
/*Contact-us*/
.contact-container{
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.social-media-contact{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.social-media-contact img{
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.contact-main{
    display: flex;
    justify-content: space-between;
}
.tel-img{
    width: 50%;
    height: 400px;
    background-image: url('../assests/images/contact/tel2.jpg');
    background-size: cover;
    border-radius: 20px;
}
.tel-info{
    width: 40%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.tel-info h1{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 13px;
}
.tel-info p{
    font-size: 20px;
    line-height: 20pt;
}
.tel-ico{
    padding-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.tel-ico img{
    height: 50px;
}
.contact-line{
    margin-top: 50px;
    font-size: 15px;
}
@media(max-width:600px){
    .contact-main{
        flex-direction: column;
    }
    .tel-img{
        background-image: url('../assests/images/contact/tel1.jpg');
        width: 100%;
    }
    .tel-info{
        padding-left: 0%;
        margin: 0 auto;
        width: 100%;
     
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
       
    }
    .social-media-contact{
        width: 100%;
        
       
    }
    .tel-info p{
        width: 100%;
    }
    .tel-ico{
  
        justify-content: space-evenly;
        align-items: center;
    }
    .tel-ico img{
        margin-top: 20px;
        height: 30px;
    }

    .contact-line{
        padding-left:10%;
        padding-right: 10%;
    }
    .tel-desc{
        padding-left: 5%;
    }
}
/*Log in*/
.errorMessage{
    color: #ff2b2b;
    font-size: 12px;
    position: relative;

}
#hidePassword{
    display: none;
}
.show-hide{
    background: url('../assests/images/portal/hide.svg') no-repeat;
    left: 0px;
    width: 13px;
    height: 13px;
    margin-top: 5px;
}
#hidePassword:checked ~ .show-hide{
    background: url('../assests/images/portal/show.svg') no-repeat;
    left: 0px;
    width: 13px;
    height: 13px;
    margin-top: 5px;
}



label{
    margin-bottom: 5px;
}
.portal-heading{
    text-align: center;
    background-color: #0073B6;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.log-in{
    max-width: 400px;
    margin: 0 auto;
}

.portal-container{
    padding-top: 50px;
    padding-bottom:50px;
    background-image: url('../assests/images/portal/portal-back2.jpg');
    background-size: cover;
}
.portal{
    margin-top: 30px;
    margin-bottom:30px;
    background-color: #151515af;
     border: 2px solid white;
    border-radius: 15px;
    color: white;
    margin: 0 auto;
   
}

.sign-in-portal{
    padding-top: 60px;
    padding-bottom: 60px;
}

.sign-up-portal{
    padding-top: 60px;
    padding-bottom: 33px;
}
.portal-form{
    display: flex;
    justify-content: center;
   

}
.portal-form form{
    display: flex;
    flex-direction: column;
}
.sign-up{
    max-width: 600px;
    margin: 0 auto;
 
}

.sign-up-form form{
    padding-left: 10%;
    padding-right: 10%;
    max-width: 600px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -10px;
}
.sign-up-form form input{
    width: 200px;
    height: 25px;
    padding-left: 10px;
}
.sign-up-input-border{
    width: 220px;
    border: 2px solid white;
    border-radius: 20px;
    height: 27px;
    margin-top: 5px;
}

 form div{
    margin-bottom: 8px;
}

 input{
    width: 240px;
    border: none;
    background: transparent;
    height:30px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
   color: white;
}
.input-border{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 32px;
    border: 2px solid white;
    border-radius: 24px;
    margin-bottom: 20px;
}
.portal-form label{
    padding-left: 10px;
}
.input-border input:-webkit-autofill:focus {
    background-color: transparent;
    color: transparent;
}

.portal-submit{
    width: 150px;
    height: 50px;
    border:  3px;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    
}

.change{
    border: none;
    background: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    padding-top: 10px;
    font-style: none;
    margin: 0 auto;
    text-decoration: none;
}

.form-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: lighter;
    margin: 0 auto;
}
.sign-up-check{
    min-width: 280px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.sign-up-check div input{
    height: 20px;
    width: 20px;  
}

 
.validate{
    position: absolute;
}
::placeholder {
    color: #0073B6;
    opacity: 1; /* Firefox */
  }
@media(max-width:600px){
    .sign-up-form form{
        justify-content: center;
    }
    .portal {
        border: 0px;
    }
}