@font-face{
    font-family: 'Segoe UI Regular';
    src: url('../assests/fonts/Segoe\ UI.woff') format('woff');
    }
@font-face{
        font-family: 'Segoe UI Bold';
        src: url('../assests/fonts/Segoe\ UI\ Bold.woff') format('woff');
    }


.container{
    font-family: 'Segoe UI Regular';
}
/*Header */
.header-container{
    background-color: #151515;
}
.Header{
    width: 1024px;
    align-self: auto;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    color:white;
    align-items: center;
    margin: 0 auto;

}
.logo{
    display: flex;
}
.logo-lang{
    color: white;
    text-decoration: none;
}
.logo h1{
    margin-top: 21px;
}

.nav-bar{
    display: flex;
    justify-content:space-between;
  
}
.nav-link{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}
.nav-bar h1{
    padding-left: 20px;
}
/*Homepage*/

.top-section-container{
    background-color: #151515;
    min-height: 700px;

}
.top-section{
    width: 1024px;
    display: flex;
    margin: 0 auto ;
    padding-top: 50px;
    
}
.laptop-image{
    height: 500px;
    width: 474px;
}
.hero-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
    .best{
        font-size: 38px;
        font-family: 'Segoe UI Regular';
     
    }
    .security{
        font-size: 79px;
        font-family: 'Segoe UI Bold';
        font-weight: bold;
    }
    .services{
        font-size: 79px;
        font-weight:100;
        font-family: 'Segoe UI';
    }
    .rotate{
        margin-top:105px;
        position: absolute;
        right: 26px;
    }
    .rotate h1{
        transform: rotate(90deg);
        font-size: 20px;
        transform-origin: 100% 100%;
        background-color: #0073B6;
        padding: 1px 10px 3px 10px;
        
    }

    .my-button{
        background-color: #0073B6;
        color: white;
        cursor: pointer;
        border: none;
        width: 190px;
        height: 51px;
        font-size: 22px;
        outline:none;
        border-radius: 13px;
        box-shadow: inset 0 0 0 0  #28b463 ;
        transition: ease-out 0.3s;
        margin-top: 10px;
    }

    .my-button:hover{
        box-shadow: inset 300px 0 0 0  #28b463;
    }
    
    .top-section-bottom{
        width: 1024px;
        color: white;
        display: flex;
        justify-content: space-between;
        margin: 100px auto 0 auto;

    }

    .content{
        margin-left: 40px;
    }

    /* about us */
    .about-us{
        padding: 120px 0;
    }
    .about-us div{
        width:550px;
        background-color:#0073B6;
    }
   
    .about-us h1{
        font-size: 30px;
        width: 120px;
        margin-right: 30px ;
        margin-left: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .about-us p{
        width: 1024px;
        margin: 0 auto;
        padding-top: 40px;
        font-size: 20px;
    }
    /*reviews*/
    .reviews-container{
        background-color: #151515;
        height: 500px;

    }
    .review-card{
        height: 240px;
        width:330px;
        border-radius: 25px;
        background-color: white;
    }
    .reviews{
        width: 1024px;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }
    /*Footer */
    .footer-container{
        background-color: #0073B6;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .footer{
        width: 1024px;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .links{
        display: flex;
        justify-content: space-between;
    }
    .links div{
        margin-right: 30px;
    }

    .links h1{
        font-weight: bolder;
        font-size: 17px;
        margin-bottom: 10px;
    }
    .links h2{
        padding-bottom: 5px;
    }

    .social-media{
        display: flex;
        justify-content: space-between;
    }
    .site{
        margin-top: 60%;
    }
    /*slide */
    .slider{
        width: 800px;
        height: 500px;
        background-color: lawngreen;
        padding: 30px;
        
    }
    .slides{
        width: 800px;
        height: 500px;
        display: flex;
        overflow: hidden;
    }
    .slides img{
        width: 800px;
        height: 200px;
        background-size: cover;
        
    }
    .slide{
        width: 800px;
        transition: 1s;
    }
    .slides input{
        display: none;
    }
    .nav-manual{
        display: flex;
        justify-content: center;
        margin-top: -40px;
    }
    .manual-btn{
        border: 2px solid salmon;
        color: yellow;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:last-child){
        margin-right:  30px;
    }
    .manual-btn:hover{
        background-color: cadetblue;
    }

    #radio1:checked ~ .first{
        margin-left: 0px;
    }
    #radio2:checked ~ .first{
        margin-left: -800px;
    }
    #radio3:checked ~ .first{
        margin-left: -1600px;
    }
    #radio4:checked ~.first{
        margin-left: -2400px;
    }
    #radio1:checked ~ .manual-btn{
        background: yello
    }
   .manual-btn1{
    width: 100px;
    height: 100px;
    border: 3px solid red;
    border-radius: 50%;
   }
   .manual-btn1:hover{
       background: tomato;
   }
/*
.nav-auto{
    position:absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  
}

.nav-auto div{
    border: 2px solid #0073B6;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    
}

.nav-auto div:not(:last-child){
    margin-right:  30px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background:#0073B6;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background: #0073B6; 
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background: #0073B6;
}
#radio4:checked ~ .nav-auto .auto-btn4{
    background: #0073B6;
}
*/
/* common heading*/
.heading-container{
    background-color: #151515;
}
.heading{
    color: white;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.heading h1{
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}

.heading p{
    font-size: 20px;
}
/*Features */
.flex-container> div{

}
.empty1{
    flex-grow: 1;
}

.empty2{
    flex-grow: 8;
}
.feature{
    flex-grow: 1;
}
/*Contact-us*/
.contact-container{
    width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.contact-main{
    display: flex;
    justify-content: space-between;
}
.tel-img{
    width: 50%;
    height: 400px;
    background-color: #28b463;
}
.tel-info{
    width: 45%;
    background-color: pink;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;

}
.tel-info h1{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}
.tel-info p{
    font-size: 20px;
}
.tel-ico{
    padding-top: 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
/*Log in*/
.portal-heading{
    width: 1024px;
    background-color: #0073B6;
    margin: 0 auto;
}
.portal-heading h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-bottom: 5px;
}
.login-form{
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.log-in form{
    
    display: flex;
    flex-direction: column;
}
.login-form label{
    margin-top: 20px;
}
.login-form form button{
    margin-top: 20px;
    margin-bottom: 10px;
}
.create-account{
    text-align: center;

}
.create-account button{
    border: none;
    padding: 3px;
    background-color: white;
    color: #0073B6;
    cursor: pointer;
    font-weight: bold;
}